# Solutions to 101 NumPy Exercises for Data Analysis

Credit: https://www.machinelearningplus.com/python/101-numpy-exercises-python/

1.Import numpy as np and print the version

In [1]:
import numpy as np
print(np.__version__)

1.14.0

2.Create a 1D array of numbers from 0 to 9

In [7]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

3.Create a 3×3 numpy array of all True’s

In [8]:
np.ones([3,3], dtype='bool')

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

4.Extract all odd numbers from arr

In [9]:
arr[arr % 2 == 1]

array([1, 3, 5, 7, 9])

5.Replace all odd numbers in arr with -1

In [11]:
arr[arr % 2 == 1] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

6.Replace all odd numbers in arr with -1 without changing arr

In [16]:
arr = np.arange(10)

new_arr = np.where(arr % 2 == 1, -1, arr)
print(new_arr)
arr

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

7.Convert a 1D array to a 2D array with 2 rows

In [19]:
arr.reshape(2, -1)  # setting to -1 automatically decides the number of columns

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

8.Stack arrays a and b vertically

In [21]:
a = np.arange(10).reshape(2, -1)
b = np.repeat(1, 10).reshape(2, -1)

np.r_[a,b]

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

9.Stack the arrays a and b horizontally

In [22]:
np.hstack([a,b])

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

10.Create the following pattern without hardcoding. Use only numpy functions

In [36]:
a = np.array([1,2,3])

np.r_[np.repeat(a, 3), np.tile(a, 3)]

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

11.Get the common items between a and b

In [3]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.intersect1d(a,b)

array([2, 4])

12.From array a remove all items present in array b

In [8]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8.9])

a[np.in1d(a,b, invert=True)]

# or

np.setdiff1d(a,b)

array([1, 2, 3, 4])

13.Get the positions where elements of a and b match

In [13]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.where(a == b)

(array([1, 3, 5, 7]),)

14.Get all items between 5 and 10 from a

In [22]:
a = np.array([2,6,1,9,10,3,27])

a[(a >= 5) & (a <=10)]

array([ 6,  9, 10])

15.Convert the function maxx that works on two scalars, to work on two arrays

In [25]:
def maxx(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y

In [26]:
a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])

vectorised_max = np.vectorize(maxx, otypes=[float])

vectorised_max(a,b)

array([6., 7., 9., 8., 9., 7., 5.])

16.Swap columns 1 and 2 in the array arr

In [34]:
arr = np.arange(9).reshape(3,3)
print(f"Before swap: \n{arr}")
new_arr = arr.copy()

arr[:,0], arr[:,1] = new_arr[:,1], new_arr[:,0]
print(f"After swap: \n{arr}")

# or - more elegant solution: does not involve creating copies
new_arr[:, [1,0,2]]  # use new_arr because arr has been changed by the previous code

Before swap:
[[0 1 2]
 [3 4 5]
 [6 7 8]]
After swap:
[[1 0 2]
 [4 3 5]
 [7 6 8]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

17.Swap rows 1 and 2 in the array arr

In [36]:
arr = np.arange(9).reshape(3,3)
print(f"Before swap: \n{arr}")

arr[[1,0,2], :]

Before swap:
[[0 1 2]
 [3 4 5]
 [6 7 8]]

array([[3, 4, 5],
       [0, 1, 2],
       [6, 7, 8]])

18.Reverse the rows of a 2D array arr

In [39]:
arr[::-1]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

19.Reverse the columns of a 2D array arr

In [41]:
arr[:, ::-1]

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

20.Create a 2D array of shape 5x3 to contain random decimal numbers between 5 and 10

In [48]:
np.random.uniform(5,10,[5,3])

array([[6.04365511, 5.88248382, 8.90143123],
       [7.83374902, 5.13175869, 9.7581316 ],
       [5.61581839, 9.55374796, 5.53410155],
       [5.72843984, 8.17881886, 9.40064672],
       [9.42219258, 9.4244953 , 8.69491795]])

21.Print or show only 3 decimal places of the numpy array rand_arr

In [50]:
rand_arr = np.random.random((5,3))
np.set_printoptions(precision=3)
rand_arr

array([[0.418, 0.473, 0.783],
       [0.037, 0.586, 0.728],
       [0.472, 0.557, 0.492],
       [0.375, 0.25 , 0.291],
       [0.333, 0.718, 0.586]])

22.Pretty print rand_arr by suppressing the scientific notaion [like 1e10]

In [86]:
# reset printoptions to default
np.set_printoptions(suppress=False)

# create the random array

rand_arr = np.random.random([3,3]) / 1e3
rand_arr

array([[6.784e-04, 9.922e-04, 2.858e-04],
       [7.609e-04, 4.653e-05, 3.325e-04],
       [9.446e-04, 6.365e-04, 6.018e-04]])

In [88]:
np.set_printoptions(suppress=True, precision=6)
rand_arr

array([[0.000678, 0.000992, 0.000286],
       [0.000761, 0.000047, 0.000333],
       [0.000945, 0.000637, 0.000602]])

23.Limit the number of items printed in python numpy array a to a maximum of 6 elements

In [90]:
a = np.arange(15)
np.set_printoptions(threshold=6)
a

array([ 0,  1,  2, ..., 12, 13, 14])

24.Print the full numpy array a without truncating

In [96]:
np.set_printoptions(threshold=np.nan)

a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

25.Import the iris dataset keeping the text intact

In [98]:
# import data from csv file url
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
data = np.genfromtxt(path, delimiter=',', dtype='object')
data[:3]  # see first 3 rows

array([[b'5.1', b'3.5', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.9', b'3.0', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.7', b'3.2', b'1.3', b'0.2', b'Iris-setosa']], dtype=object)

26.Extract the text column species from the 1D iris

In [108]:
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(path, delimiter=',',encoding=None, dtype=None)

species = np.array([row[4] for row in iris])
species[:5]

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa'], dtype='<U15')

27.Convert the 1D iris to 2D array iris_2d by omitting the species text field