# Solutions to 101 NumPy Exercises for Data Analysis

Credit: https://www.machinelearningplus.com/python/101-numpy-exercises-python/

1.Import numpy as np and print the version

In [1]:
import numpy as np
print(np.__version__)

1.14.0

2.Create a 1D array of numbers from 0 to 9

In [7]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

3.Create a 3×3 numpy array of all True’s

In [8]:
np.ones([3,3], dtype='bool')

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

4.Extract all odd numbers from arr

In [9]:
arr[arr % 2 == 1]

array([1, 3, 5, 7, 9])

5.Replace all odd numbers in arr with -1

In [11]:
arr[arr % 2 == 1] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

6.Replace all odd numbers in arr with -1 without changing arr

In [16]:
arr = np.arange(10)

new_arr = np.where(arr % 2 == 1, -1, arr)
print(new_arr)
arr

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

7.Convert a 1D array to a 2D array with 2 rows

In [19]:
arr.reshape(2, -1)  # setting to -1 automatically decides the number of columns

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

8.Stack arrays a and b vertically

In [21]:
a = np.arange(10).reshape(2, -1)
b = np.repeat(1, 10).reshape(2, -1)

np.r_[a,b]

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

9.Stack the arrays a and b horizontally

In [22]:
np.hstack([a,b])

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

10.Create the following pattern without hardcoding. Use only numpy functions

In [36]:
a = np.array([1,2,3])

np.r_[np.repeat(a, 3), np.tile(a, 3)]

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

11.Get the common items between a and b

In [3]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.intersect1d(a,b)

array([2, 4])

12.From array a remove all items present in array b

In [8]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8.9])

a[np.in1d(a,b, invert=True)]

# or

np.setdiff1d(a,b)

array([1, 2, 3, 4])

13.Get the positions where elements of a and b match

In [13]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.where(a == b)

(array([1, 3, 5, 7]),)

14.Get all items between 5 and 10 from a

In [22]:
a = np.array([2,6,1,9,10,3,27])

a[(a >= 5) & (a <=10)]

array([ 6,  9, 10])

15.Convert the function maxx that works on two scalars, to work on two arrays

In [25]:
def maxx(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y

In [26]:
a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])

vectorised_max = np.vectorize(maxx, otypes=[float])

vectorised_max(a,b)

array([6., 7., 9., 8., 9., 7., 5.])

16.Swap columns 1 and 2 in the array arr

In [34]:
arr = np.arange(9).reshape(3,3)
print(f"Before swap: \n{arr}")
new_arr = arr.copy()

arr[:,0], arr[:,1] = new_arr[:,1], new_arr[:,0]
print(f"After swap: \n{arr}")

# or - more elegant solution: does not involve creating copies
new_arr[:, [1,0,2]]  # use new_arr because arr has been changed by the previous code

Before swap:
[[0 1 2]
 [3 4 5]
 [6 7 8]]
After swap:
[[1 0 2]
 [4 3 5]
 [7 6 8]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

17.Swap rows 1 and 2 in the array arr

In [36]:
arr = np.arange(9).reshape(3,3)
print(f"Before swap: \n{arr}")

arr[[1,0,2], :]

Before swap:
[[0 1 2]
 [3 4 5]
 [6 7 8]]

array([[3, 4, 5],
       [0, 1, 2],
       [6, 7, 8]])

18.Reverse the rows of a 2D array arr

In [39]:
arr[::-1]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

19.Reverse the columns of a 2D array arr

In [41]:
arr[:, ::-1]

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

20.Create a 2D array of shape 5x3 to contain random decimal numbers between 5 and 10

In [48]:
np.random.uniform(5,10,[5,3])

array([[6.04365511, 5.88248382, 8.90143123],
       [7.83374902, 5.13175869, 9.7581316 ],
       [5.61581839, 9.55374796, 5.53410155],
       [5.72843984, 8.17881886, 9.40064672],
       [9.42219258, 9.4244953 , 8.69491795]])

21.Print or show only 3 decimal places of the numpy array rand_arr

In [50]:
rand_arr = np.random.random((5,3))
np.set_printoptions(precision=3)
rand_arr

array([[0.418, 0.473, 0.783],
       [0.037, 0.586, 0.728],
       [0.472, 0.557, 0.492],
       [0.375, 0.25 , 0.291],
       [0.333, 0.718, 0.586]])

22.Pretty print rand_arr by suppressing the scientific notaion [like 1e10]

In [86]:
# reset printoptions to default
np.set_printoptions(suppress=False)

# create the random array

rand_arr = np.random.random([3,3]) / 1e3
rand_arr

array([[6.784e-04, 9.922e-04, 2.858e-04],
       [7.609e-04, 4.653e-05, 3.325e-04],
       [9.446e-04, 6.365e-04, 6.018e-04]])

In [88]:
np.set_printoptions(suppress=True, precision=6)
rand_arr

array([[0.000678, 0.000992, 0.000286],
       [0.000761, 0.000047, 0.000333],
       [0.000945, 0.000637, 0.000602]])

23.Limit the number of items printed in python numpy array a to a maximum of 6 elements

In [90]:
a = np.arange(15)
np.set_printoptions(threshold=6)
a

array([ 0,  1,  2, ..., 12, 13, 14])

24.Print the full numpy array a without truncating

In [96]:
np.set_printoptions(threshold=np.nan)

a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

25.Import the iris dataset keeping the text intact

In [4]:
# import data from csv file url
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
data = np.genfromtxt(path, delimiter=',', dtype='object')
data[:3]  # see first 3 rows

array([[b'5.1', b'3.5', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.9', b'3.0', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.7', b'3.2', b'1.3', b'0.2', b'Iris-setosa']], dtype=object)

26.Extract the text column species from the 1D iris

In [2]:
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(path, delimiter=',',encoding=None, dtype=None)

species = np.array([row[4] for row in iris])
species[:5]

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa'], dtype='<U15')

27.Convert the 1D iris to 2D array iris_2d by omitting the species text field

In [6]:
# convert each row to a list and get the first 4 items
iris_2d = np.array([row.tolist()[:4] for row in iris])
iris_2d[:4]

# or import only the first 4 columns from source url
iris_2d = np.genfromtxt(path, delimiter=',', dtype='float', usecols=[0,1,2,3])
iris_2d[:4]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2]])

28.Find the mean, median and standard deviation of iris's sepallength [1st col]

In [3]:
sepallength = np.genfromtxt(path, delimiter=',', dtype='float', usecols=[0])

mean, median, standard_deviation = np.mean(sepallength), np.median(sepallength), np.std(sepallength)
print(mean, median, standard_deviation)

5.843333333333334 5.8 0.8253012917851409

29.Create a normalized form of iris's sepallength whose values range exactly between 0 and 1 so that the minimum has value 0 and maximum has value 1.

In [124]:
smax, smin = sepallength.max(), sepallength.min()
S = (sepallength - smin) / (smax - smin) 
print(S)

[0.222222 0.166667 0.111111 0.083333 0.194444 0.305556 0.083333 0.194444
 0.027778 0.166667 0.305556 0.138889 0.138889 0.       0.416667 0.388889
 0.305556 0.222222 0.388889 0.222222 0.305556 0.222222 0.083333 0.222222
 0.138889 0.194444 0.194444 0.25     0.25     0.111111 0.138889 0.305556
 0.25     0.333333 0.166667 0.194444 0.333333 0.166667 0.027778 0.222222
 0.194444 0.055556 0.027778 0.194444 0.222222 0.138889 0.222222 0.083333
 0.277778 0.194444 0.75     0.583333 0.722222 0.333333 0.611111 0.388889
 0.555556 0.166667 0.638889 0.25     0.194444 0.444444 0.472222 0.5
 0.361111 0.666667 0.361111 0.416667 0.527778 0.361111 0.444444 0.5
 0.555556 0.5      0.583333 0.638889 0.694444 0.666667 0.472222 0.388889
 0.333333 0.333333 0.416667 0.472222 0.305556 0.472222 0.666667 0.555556
 0.361111 0.333333 0.333333 0.5      0.416667 0.194444 0.361111 0.388889
 0.388889 0.527778 0.222222 0.388889 0.555556 0.416667 0.777778 0.555556
 0.611111 0.916667 0.166667 0.833333 0.666667 0.805556 0.611111 0.583333
 0.694444 0.388889 0.416667 0.583333 0.611111 0.944444 0.944444 0.472222
 0.722222 0.361111 0.944444 0.555556 0.666667 0.805556 0.527778 0.5
 0.583333 0.805556 0.861111 1.       0.583333 0.555556 0.5      0.944444
 0.555556 0.583333 0.472222 0.722222 0.666667 0.722222 0.416667 0.694444
 0.666667 0.666667 0.555556 0.611111 0.527778 0.444444]

30.How to compute the softmax score of sepallength

In [6]:
def softmax(x):    
    e_x = np.exp(x - np.max(x))
    return e_x / e_x.sum(axis=0)

softmax(sepallength)

array([0.00221959, 0.00181724, 0.00148783, 0.00134625, 0.00200836,
       0.00299613, 0.00134625, 0.00200836, 0.00110221, 0.00181724,
       0.00299613, 0.00164431, 0.00164431, 0.00099732, 0.0044697 ,
       0.00404435, 0.00299613, 0.00221959, 0.00404435, 0.00221959,
       0.00299613, 0.00221959, 0.00134625, 0.00221959, 0.00164431,
       0.00200836, 0.00200836, 0.00245302, 0.00245302, 0.00148783,
       0.00164431, 0.00299613, 0.00245302, 0.00331123, 0.00181724,
       0.00200836, 0.00331123, 0.00181724, 0.00110221, 0.00221959,
       0.00200836, 0.00121813, 0.00110221, 0.00200836, 0.00221959,
       0.00164431, 0.00221959, 0.00134625, 0.00271101, 0.00200836,
       0.01483991, 0.00814432, 0.01342771, 0.00331123, 0.00900086,
       0.00404435, 0.00736928, 0.00181724, 0.00994749, 0.00245302,
       0.00200836, 0.00493978, 0.0054593 , 0.00603346, 0.00365948,
       0.01099368, 0.00365948, 0.0044697 , 0.006668  , 0.00365948,
       0.00493978, 0.00603346, 0.00736928, 0.00603346, 0.00814432,
       0.00994749, 0.01214989, 0.01099368, 0.0054593 , 0.00404435,
       0.00331123, 0.00331123, 0.0044697 , 0.0054593 , 0.00299613,
       0.0054593 , 0.01099368, 0.00736928, 0.00365948, 0.00331123,
       0.00331123, 0.00603346, 0.0044697 , 0.00200836, 0.00365948,
       0.00404435, 0.00404435, 0.006668  , 0.00221959, 0.00404435,
       0.00736928, 0.0044697 , 0.01640064, 0.00736928, 0.00900086,
       0.02704008, 0.00181724, 0.02003179, 0.01099368, 0.01812551,
       0.00900086, 0.00814432, 0.01214989, 0.00404435, 0.0044697 ,
       0.00814432, 0.00900086, 0.02988391, 0.02988391, 0.0054593 ,
       0.01342771, 0.00365948, 0.02988391, 0.00736928, 0.01099368,
       0.01812551, 0.006668  , 0.00603346, 0.00814432, 0.01812551,
       0.02213855, 0.0365003 , 0.00814432, 0.00736928, 0.00603346,
       0.02988391, 0.00736928, 0.00814432, 0.0054593 , 0.01342771,
       0.01099368, 0.01342771, 0.0044697 , 0.01214989, 0.01099368,
       0.01099368, 0.00736928, 0.00900086, 0.006668  , 0.00493978])

31.Find the 5th and 95th percentile of iris's sepallength

In [5]:
print('5th percentile: ', np.percentile(sepallength, 5))
print('95th percentile: ', np.percentile(sepallength, 95))

# or 
np.percentile(sepallength, [5, 95])

5th percentile:  4.6
95th percentile:  7.254999999999998

array([4.6  , 7.255])

32.Insert np.nan valuses at 20 random positions in iris_2d dataset

In [13]:
np.random.seed(100)
iris_2d[np.random.randint(150, size=20), np.random.randint(4, size=20)] = np.nan
    
iris_2d

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [nan, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, nan, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [nan, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [nan, nan, 1.7, 0.3],
       [nan, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, nan, nan],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [nan, 3.4, 1.4, 0.2],
       [4.7, nan, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [nan, 3.1, 1.5, 0.1],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [nan, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, nan],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, nan, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, nan, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, nan],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, nan],
       [5.8, 2.7, nan, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [nan, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, nan],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [nan, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, nan, 4.2, 1.3],
       [5.7, nan, nan, 1.2],
       [5.7, nan, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, nan, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , nan],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, nan],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, nan],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, nan, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , nan],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, nan, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, nan, 4.9, nan],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, nan, 5.5, 1.8],
       [6. , 3. , 4.8, nan],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, nan],
       [6.7, 3.3, 5.7, nan],
       [6.7, 3. , 5.2, nan],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

33.Find the number and position of missing values in iris_2d's sepalength

In [30]:
positions = np.where(np.isnan(iris_2d[:,0]))
number = np.size(positions)
# or 
number = np.isnan(iris_2d[:,0]).sum()
print('Number of missing values: ', number)
print('Position of missing values: ', positions)

Number of missing values:  9
Position of missing values:  (array([ 5, 14, 18, 19, 28, 34, 39, 79, 87]),)

34.Filter the rows of iris_2d that has petallength (3rd column) > 1.5 and sepallength (1st column) < 5.0

In [32]:
iris_2d = np.genfromtxt(path, delimiter=',', dtype='float', usecols=[0,1,2,3])

iris_2d[(iris_2d[:,2] > 1.5) & (iris_2d[:,0] < 5.0)]

array([[4.8, 3.4, 1.6, 0.2],
       [4.8, 3.4, 1.9, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [4.9, 2.4, 3.3, 1. ],
       [4.9, 2.5, 4.5, 1.7]])

35.Select the rows of iris_2d that does not have any nan value

In [88]:
iris_2d[np.random.randint(150, size=20), np.random.randint(4, size=20)] = np.nan


new_arr = np.array([row for row in iris_2d if not np.any(np.isnan(row))])
new_arr

array([[4.6, 3.1, 1.5, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.7, 4.4, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.1, 3.8, 1.9, 0.4],
       [6.5, 2.8, 4.6, 1.5],
       [4.9, 2.4, 3.3, 1. ],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 2.5, 3.9, 1.1],
       [6. , 2.9, 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [5.5, 2.6, 4.4, 1.2],
       [6.2, 2.9, 4.3, 1.3],
       [6.7, 2.5, 5.8, 1.8],
       [6.4, 2.7, 5.3, 1.9],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6.9, 3.2, 5.7, 2.3],
       [7.7, 2.8, 6.7, 2. ],
       [7.2, 3.2, 6. , 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.3, 2.8, 5.1, 1.5],
       [6.3, 3.4, 5.6, 2.4],
       [5.9, 3. , 5.1, 1.8]])

36.Find the correlation between sepallength [1st column] and petallength [3rd column] in iris_2d

In [93]:
iris_2d = np.genfromtxt(path, delimiter=',', dtype='float', usecols=[0,1,2,3])

np.corrcoef(iris_2d[:, 0], iris_2d[:, 2])[0, 1]

0.8717541573048718

37.Find out if iris_2d has any missing values

In [95]:
np.isnan(iris_2d).any()

False

38.Replace all occurrences of nan with 0 in numpy array

In [97]:
iris_2d[np.random.randint(150, size=20), np.random.randint(4, size=20)] = np.nan

iris_2d[np.isnan(iris_2d)] = 0
iris_2d

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 0. , 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 0. , 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [0. , 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 0. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 0. , 0.4],
       [5.1, 3.5, 1.4, 0. ],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0. ],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [0. , 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 0. , 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [0. , 0. , 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 0. , 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [0. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [0. , 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [0. , 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [0. , 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 0. , 4.5, 1.5],
       [5.8, 0. , 4.1, 0. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 0. ],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 0. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 0. ],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 0. , 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 0. , 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 0. , 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 0. ],
       [6.7, 2.5, 5.8, 1.8],
       [0. , 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 0. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 0. , 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 0. , 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 0. , 5.8, 1.6],
       [0. , 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 0. ],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 0. , 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 0. ],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [0. , 3. , 0. , 2.3],
       [6.3, 2.5, 0. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 0. ],
       [5.9, 3. , 5.1, 1.8]])

39.Find the unique values and the count of unique values in iris's species

In [99]:
iris = np.genfromtxt(path, delimiter=',', dtype='object')

unique_values, counts = np.unique(iris[:, 4], return_counts=True)
print('Unique values: ', unique_values)
print('Counts: ', counts)

Unique values:  [b'Iris-setosa' b'Iris-versicolor' b'Iris-virginica']
Counts:  [50 50 50]

40.Bin the petal length [3rd] column of iris_2d to form a text array, such that if petal length is:

    less than 3   --> 'small'
              3-5 --> 'medium'
              >=5 --> 'large'

In [103]:
bins = np.digitize(iris[:,2].astype('float'), [0, 3, 5, 10])

labels = {1: 'small', 2: 'medium', 3: 'large', 4: np.nan}

petal_length = [labels[item] for item in bins]
petal_length[:4]

['small', 'small', 'small', 'small']